*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#main{
    background-image: linear-gradient(to right,rgba(104,202,141,255),rgba(98,88,185,255));
    height: 500px;
    width: 600px;
    margin: 80px auto;
    padding: 25px;
}

.cal{
    /* border: 1px solid lightgray; */
    box-shadow: 2px 2px 2px 2px rgb(184, 182, 182);
    height: 400px;
    width: 450px;
    background-color: white;
    margin: 20px auto;
    border-radius: 7px;
}

.title{
    text-align: center;
    padding: 25px;
}

.calculator{
    display: flex;
    flex-flow: column;
    margin: 0 60px;
    padding: 0px 60px;
}

.inputs{
    padding: 4px 0;
}

#cal-btn{
    width: 50%;
    border-radius: 20px;
    background-image: linear-gradient(to right,rgba(104,202,141,255),rgba(98,88,185,255));
    border: none;
    margin: 10px auto;
    color: white;
    cursor: pointer;
}
.output{
    /* background-color: lightgreen; */
    height: 10px;
    margin: 5px 0;
    color: rgba(85,56,119,255);
    font-size: 12px;
    text-align: center;
}

.disclaimer{
    font-size: 10px;
    text-align: center;
}

input[type="text"]{
    border: none;
    border-bottom: 1px solid;
    margin-bottom: 10px;
}
input[type="text"]:focus{
    outline: none;
}

/* For mobile screen */

@media only screen and (max-width: 500px)  {

    #main{
        height: 400px;
        width: 400px;
        margin: 80px auto;
        padding: 25px;
    }

    .cal{
        height: 300px;
        width: 300px;
        margin: 25px auto;
    }

    .calculator{
        margin: auto;
    }
    
}

/* For tablet tablet */
@media only screen and (min-width: 501px) and (max-width: 768px){
    #main{
        height: 450 px;
        width: 600px;
        margin: 40px auto;
        padding: 10px;
    }

    .cal{
        margin: 39px auto;
        border-radius: 7px;
    }
    .disclaimer {
        font-size: 10px;
        text-align: center;
    }
}